body{
    background-color: rgb(92, 125, 226);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: white;
    width: 900px;
    margin: auto;
}
.header h1{
    margin-left: 30px;
    padding-top: 15px;

}
.nav ul li{
    display: inline-block;
    margin-left: 15px;
}

.content h2{
    margin-left: 15px;

}
.content p{
    font-size: 14;
    margin-left: 15px;
}
.main{
    display: flex;
    margin-left: 15px;
}

.content-1{
    width: 500px;
}
.sidebar{
    width: 300px;
    margin-left: 40px;
    padding-top: 7px;
}

.sidebar p{
    font-size: 14px;
}

.footer{
    background-color: #a59e9e;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;

}




    

